/*
 * Copyright (c) 2014.
 * Author: Louis Burton
 * Hosted: https://bitbucket.org/louisburton/kosoverlay
 *
 * This file is part of KOS Overlay.
 *
 *     KOS Overlay is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     KOS Overlay is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with KOS Overlay.  If not, see <http://www.gnu.org/licenses/>.
 */
#m_root {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5 0 5 0;
    -fx-opacity: 0.95;
}

.text {
    -fx-fill: white;
    -fx-font: bold 14pt "Verdana";
    -fx-stroke: black;
    -fx-stroke-width: 0.5;
    -fx-opacity: 0.85;
    -fx-background-color: transparent;
    -fx-strikethrough: false;
}

.result-button {
    -fx-shadow-highlight-color: #393939;
    -fx-text-fill: white;
    -fx-font: bold 32pt "Verdana";
    -fx-padding: 0 1 0 1;
    -fx-alignment: center;
    -fx-background-radius: 0
}

.result-button:selected {
    -fx-background-color: -fx-shadow-highlight-color, linear-gradient(to bottom, derive(-fx-color, -22%) 0%, derive(-fx-color, -15%) 100%), linear-gradient(to bottom, derive(-fx-color, -15%) 0%, derive(-fx-color, -10%) 50%, derive(-fx-color, -8%) 98%, derive(-fx-color, -12%) 100%);
}

#cancel-button {
    -fx-background-color: transparent;
    -fx-padding: 0 17 0 0;
    -fx-effect: null;
}

#cancel-button .text {
    -fx-fill: red;
    -fx-opacity: 0.95;
    -fx-stroke: #c20913;
    -fx-stroke-width: 0.65;
}

#cancel-button:hover {
    -fx-effect: dropshadow(gaussian, #0093ff, 5, 0.15, 0, 0);
}

#cancel-button:pressed {
    -fx-text-fill: #6c6c6c;
    -fx-effect: null;
}

.anchor {
    -fx-shadow-highlight-color: #111111;
    -fx-text-fill: white;
    -fx-font: bold 50pt "Verdana";
    -fx-padding: 3 5 3 5;
    -fx-alignment: center;
    -fx-background-radius: 2;
    -fx-color: #acacac;
    -fx-disabled-opacity: 1.0;
}

.anchor:selected {
    -fx-color: #cecece;
    -fx-background-color: -fx-shadow-highlight-color, linear-gradient(to bottom, derive(-fx-color, -22%) 0%, derive(-fx-color, -15%) 100%), linear-gradient(to bottom, derive(-fx-color, -15%) 0%, derive(-fx-color, -10%) 50%, derive(-fx-color, -8%) 98%, derive(-fx-color, -12%) 100%);
}

.logo {
    -fx-effect: null;
}

.anchor:selected .logo {
    -fx-effect: dropshadow(gaussian, #0093ff, 6, 0.375, 0, 0);
}

/* STATUS STYLES */
.loading {
    -fx-opacity: 0.75;
    -fx-fill: yellow;
    -fx-color: yellow;
    -fx-effect: null;
}

.kos {
    -fx-opacity: 0.95;
    -fx-font: bold 15pt "Verdana";
    -fx-stroke-width: 0.65;
    -fx-effect: dropshadow(gaussian, red, 4, 0.05, 0, 0);
}

.red {
    -fx-fill: red;
}

.orange {
    -fx-fill: orange;
}

.standings {
    -fx-stroke: blueviolet;
    -fx-stroke-width: 0.70;
}

.neutral {
    -fx-fill: lightgrey;
    -fx-color: lightgrey;
    -fx-effect: null;
}

.neutral-standings {
    -fx-fill: #e6e6e6;
    -fx-color: #e6e6e6;
    -fx-effect: null;
}

.blue {
    -fx-fill: #006dff;
}

.lightblue {
    -fx-fill: #00bbff;
}

.green {
    -fx-fill: #00c400;
}

.failed {
    -fx-fill: lightpink;
    -fx-strikethrough: true;
}

/* CONTEXT MENU */
.context-menu {
    -fx-background-color: #505050;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 1 0 1 0; /* 6 0 6 0 */
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

.context-menu .separator, .context-menu .separator:hover, .context-menu .separator:pressed, .context-menu .separator:focused {
    -fx-padding: 3 1 3 1;
    -fx-background-color: transparent;
}

.separator:focused {
}

.menu-item, .separator:hover, .separator:pressed {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-effect: null;
}

.menu-item .label, .menu-item .text {
    -fx-padding: 2 3 2 3;
    -fx-fill: white;
    -fx-font: bold 11pt "Verdana";
    -fx-stroke: black;
    -fx-stroke-width: 0.1;
}

.menu-item:pressed {
    -fx-background-color: #141414;
}

.menu-item:hover .text{
    -fx-fill: #0093ff;
}

.menu-item:pressed .text {
    -fx-fill: #0093ff;
}

/* HELP region */
.side-panel {
    -fx-spacing: 3;
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-color: #141414;
    -fx-background-radius: 10;
}

.side-panel-title {
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 10 10 0 0;
    -fx-background-color: yellow;
    -fx-background-radius: 10 10 0 0;
}

.side-panel-detail {
    -fx-fill: #7a7a7a;
    -fx-stroke-width: 0.75;
}

.settings-link:hover {
    -fx-effect: dropshadow(gaussian, #505050, 5, 0.15, 0, 0);
}

.settings-link .text {
    -fx-fill: #00a3ff;
    -fx-opacity: 1.00;
    -fx-stroke-width: 1;
    -fx-font: bold 16pt "Verdana";
}

/* SETTINGS region */
.settings-title {
    -fx-fill: white;
    -fx-opacity: 1.00;
    -fx-font: bold 22pt "Verdana";
    -fx-stroke: black;
    -fx-stroke-width: 0.75;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, #7a7a7a, 0.75, 0.75, 1, 1);
}

.settings-button {
    -fx-color: #7a7a7a;
    -fx-opacity: 1.00;
    -fx-shadow-highlight-color: #393939;
}

.settings-button .text {
    -fx-fill: white;
    -fx-font: bold 14pt "Verdana";
    -fx-stroke: black;
    -fx-stroke-width: 0.5;
    -fx-opacity: 1.00;
    -fx-background-color: transparent;
    -fx-strikethrough: false;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.root {
    -fx-accent: #cecece;
    -fx-focus-color: #00a3ff;
}

.tooltip .text {
    -fx-fill: black;
    -fx-font: bold 14pt "Verdana";
    -fx-stroke: null;
    -fx-stroke-width: 0;
    -fx-opacity: 1.00;
    -fx-background-color: transparent;
    -fx-strikethrough: false;
}

.separator {
    -fx-background-color: transparent;
}

.errorText {
    -fx-opacity: 1.00;
    -fx-fill: red;
    -fx-effect: dropshadow(gaussian, red, 5, 0.15, 0, 0);
    -fx-padding: 5 15 5 15;
}
.errorText .text {
    -fx-stroke: black;
    -fx-stroke-width: 0.5;
    -fx-opacity: 1.00;
    -fx-font: bold 11pt "Verdana";
    -fx-fill: white;
}

.tab-pane {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.tab-content-area {
    -fx-border-width: 2;
    -fx-border-color: black;
}

.tab-pane .tab-header-area .text {
    -fx-opacity: 1.00;
    -fx-font: bold 11pt "Verdana";
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 0.1;
}

.tab-pane .tab-header-area .tab-header-background {;
    -fx-background-color: #141414;
}

.tab-pane .tab-header-area .tab {
    -fx-color: #7a7a7a;
}

.tab-pane .tab-header-area .tab:selected {
    /*-fx-background-color: -fx-shadow-highlight-color, linear-gradient(to bottom, derive(-fx-color, -22%) 0%, derive(-fx-color, -15%) 100%), linear-gradient(to bottom, derive(-fx-color, -15%) 0%, derive(-fx-color, -10%) 50%, derive(-fx-color, -8%) 98%, derive(-fx-color, -12%) 100%);*/
}

.tab-pane .tab-header-area .tab:selected .text {
    -fx-fill: #0093ff;
}

.tab-grid {
    -fx-spacing: 3;
    -fx-background-color: #282828;
}

.tab-grid .text {
    -fx-font: bold 11pt "Verdana";
}

.tab-grid .text-field {
    -fx-accent: #282828;
    -fx-font: bold 11pt "Arial";
}
.tab-grid .text-field .text {
    -fx-fill: black;
    -fx-stroke-width: 0.0;
}

.tab-grid .button, .tab-grid .toggle-button {
    -fx-color: #7a7a7a;
    -fx-opacity: 1.00;
    -fx-shadow-highlight-color: #393939;
}

.tab-grid .button:disabled, .tab-grid .toggle-button:disabled {
    -fx-opacity: 0.4;
}

.tab-grid .button .text {
    -fx-fill: white;
    -fx-font: bold 12pt "Verdana";
    -fx-stroke: black;
    -fx-stroke-width: 0.5;
    -fx-opacity: 1.00;
    -fx-background-color: transparent;
    -fx-strikethrough: false;
}

.tab-grid .toggle-button .text {
    -fx-fill: white;
    -fx-font: bold 12pt "Verdana";
    -fx-stroke: black;
    -fx-stroke-width: 0.5;
    -fx-opacity: 1.00;
    -fx-background-color: transparent;
    -fx-strikethrough: false;
}

.hyperlink .text {
    -fx-fill: #00a3ff;
    -fx-font: 14pt "Verdana";
}

.hyperlink:hover {
    -fx-underline: true;
}

.tab-content-title .text {
    -fx-fill: red;
    -fx-font: bold 20pt "Verdana";
}

.about-tab .text {
    -fx-font: bold 14pt "Verdana";
}
